body {
  margin: 0;
  display: block;
  font-size: xx-small;
  background-color: #0054a9;
  color: darkblue;
}
app-root {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: flex-start;
  height: 100%;
  align-items: flex-start;
}
